<?xml version='1.0' encoding='utf-8'?>
 <widget id="tv.loveworld.mobileapp" 
                version="1.0.2" 
                xmlns="http://www.w3.org/ns/widgets" 
                xmlns:gap="http://phonegap.com/ns/1.0">
     
  <name>LoveWorld TV Mobile</name>

             <description>
           The LoveWorld TV Mobile is a very resourceful mobile application developed to deliver an on the go TV experience. Watch live streams from the station, participate in TV programs of your choice, share your testimonies, read news, send shout outs, and lots more. LoveWorld TV Mobile see it, watch it and share it.
        </description>

        <author email="apps@loveworldtv.co.uk" href="http://www.loveworldtv.co.uk">
           LoveWorld TV UK
        </author>
        
        <preference name="phonegap-version" value="3.5.0" />
        <preference name="orientation" value="portrait" />
        <preference name="target-device" value="universal" />
        <preference name="fullscreen" value="false" />
        <preference name="splash-screen-duration" value="10000"/>
        <preference name="prerendered-icon" value="true" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="android-minSdkVersion" value="11" />
        <preference name="android-installLocation" value="auto" />
        <preference name="android-targetSdkVersion" value="14" />
        <preference name="permissions" value="none"/>
        <preference name="detect-data-types" value="false" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="deployment-target" value="7.0" />
        <preference name="webviewbounce" value="false" />
        <preference name="stay-in-webview" value="false" />
        <preference name="show-splash-screen-spinner" value="true" />
        <preference name="auto-hide-splash-screen" value="true" />
    
		<gap:plugin name="org.apache.cordova.device" />
		<gap:plugin name="org.apache.cordova.device-motion" />
		<gap:plugin name="org.apache.cordova.device-orientation" />
		<gap:plugin name="org.apache.cordova.dialogs" />
		<gap:plugin name="org.apache.cordova.geolocation" />
		<gap:plugin name="org.apache.cordova.inappbrowser" />
		<gap:plugin name="org.apache.cordova.vibration" />
 		<gap:plugin name="com.dawsonloudon.videoplayer" version="1.0.0" />
        <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
        <gap:plugin name="org.apache.cordova.contacts" version="0.2.11" />
        <gap:plugin name="org.apache.cordova.file" version="1.0.1" />
        <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
        <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
        <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
        <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
            

		<icon src="icon.png" />
        <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />

       
             <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

        <!-- Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />


             <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />

        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
        <icon src="res/icon/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />
     
     

        <gap:splash src="splash.png" />
        <gap:splash src="res/screen/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
        <gap:splash src="res/screen/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
        <gap:splash src="res/screen/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
        <gap:splash src="res/screen/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
        <gap:splash src="res/screen/android/portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
        <gap:splash src="res/screen/android/landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
 
     
             <!-- iPhone and iPod touch -->
        <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
        <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />

        <!-- iPhone 5 / iPod Touch (5th Generation) -->
        <gap:splash src="res/screen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

        <!-- iPad -->
        <gap:splash src="res/screen/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
        <gap:splash src="res/screen/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

        <!-- Retina iPad -->
        <gap:splash src="res/screen/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
        <gap:splash src="res/screen/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

    
    <content src="index.html" />
    <access origin="*" />
</widget>
